/* Import Fontes CSS */ 

@font-face {
    font-family:"Bigilla" ;
    src: url(Bigilla.otf), url(Bigilla-Bold.otf);
}

/* Estilo cursor */


.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(194, 36, 12, 0.5);
    transition: 0.08s;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: hard-light;
}

/* Estilização das fontes do HTML*/

.nav-logo{
    font-family: Bigilla, Helvetica, sans-serif;
    font-size: 20px;
    color: #C2240C;   
}

.nav-items{
    font-family: 'Italiana', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #C2240C; 
}

.title h1{
    font-family: Bigilla, Helvetica, sans-serif;
    font-size: 120px;
    color: #C2240C;
}



.hero-text p{
    font-family: 'Italiana', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #C2240C;
}

.hero-text h2{
    font-family: Bigilla, Helvetica, sans-serif;
    font-size: 50px;
    color: #C2240C;
}

.the-bus-text p{
    font-family: 'Italiana', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #C2240C;
}

.the-bus-text h3{
    font-family: Bigilla, Helvetica, sans-serif;
    font-size: 40px;
    color: #C2240C;
    text-align: center;
    transition: 0.5s;
}

.the-bus-text h3:hover{
    font-family: Bigilla, Helvetica, sans-serif;
    font-size: 40px;
    color: C2240C;
    text-align: center;
    transition: 0.5s;
    transform: scale(1.3);
}

.forms-title p{
    font-family: 'Italiana', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #C2240C;
    text-align: center;
    text-decoration-line: underline;
    
}

.news-letter-button button{
    font-family: 'Italiana', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #C2240C;
}

.news-letter-button button:hover{
    font-family: 'Italiana', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #C2240C;
}

.forms-labels input{
    font-family: 'Italiana', Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #C2240C;
    padding-left: 10px;
}

.forms-labels input:focus{
    border: 1px solid #C2240C;
}

.footer-decoration{
    font-family: Bigilla, Helvetica, sans-serif;
    font-size: 60px;
    color: #C2240C;
}

.footer-decoration p{
    margin: 0;
}

.footer-decoration img{
    transform: translatex(30px);
}

.nav{
    max-width: 1000px;
    margin: auto;
}


.content{
    max-width: 800px;
    margin: auto;
}


/* Posicionamento nav*/

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.nav-items ul{
    display: flex;
}

.nav-items ul{
    list-style-image: url('Imagens/BULLETSTAR.svg');
} /*Estilo dos Bullets*/

.nav-items ul li a{
    text-decoration: none;
    color: #C2240C;
}

.nav-items ul li a:hover{
    text-decoration: underline;
    color: #81190A;
}


.nav-items ul li{
    margin-left: 30px;
}

/*  Configurações title */

.title{
    justify-content: center;
    display: flex;
    transform: translateY(-30px);
}

.title img{
  padding-left: 20px;
  padding-top: 20px;
}

/* animation hero-images*/


.hero-images img{
    transform: translateY(0px);
    transition: 0.5s;
}

.hero-images img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

/* Grid hero*/

.hero-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 20px;
}

.square-image{
    margin-top: 5px;
}

.hero-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
    display: flex;
    padding-top: 15px ;

}

.hero-text p{
    padding-top: 15px ;
    padding-right: 100px;
    text-align: left;
}

.hero-text h2{
    transform: translateY(-50px);
    padding-right: 100px;
    text-align: right;
}

/* The Bus-Text*/

.the-bus-head{
    justify-content: center;
    display: flex;
    transform: translateY(-40px);
}

/* Estilização closing-images*/

.closing-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 800px;
    margin: 0 auto;
    grid-gap: 10px;
    display: flex;
    padding-top: 15px ;
    transform: translateX(-60px);
}

.decoration{
    transform: translateY(100px);
}

.stars{
    transform: translateY(150px);
}

.horizontal{
    transform: translateY(5px);
}

.vertical{
    transform: translateY(9px);
}

/* Estilização Forms*/

.forms-labels input{
    width: 300px;
    height: 30px;
    background-color: none;
    border: 1px solid #C2240C;
}

.news-letter-button button{
    background-color:#F5ECE6;
    border: 1px solid #C2240C;
    width: 130px;
    height: 30px;
}

.news-letter-button button:hover{
    background-color:#BECDD3;
    border: 1px solid #C2240C;
    cursor: pointer;
}

/* Estilização footer-decoration*/

.footer-decoration{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilização social-icons*/

.social-icons ul{
    display: flex;
    justify-content: center;
}

.social-icons ul li{
    list-style: none;
    padding: 20px;
    margin-bottom: 5px;
    fill: #81190A;
    transition: 0.5s;
}

.social-icons ul li:hover{
    list-style: none;
    padding: 20px;
    margin-bottom: 5px;
    transform: translateY(-10px);
    transition: 0.5s;
}

/* closing images animation */ 

.closing-images img{
    transform: translateY(0px);
    transition: 0.5s;
}

.closing-images img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.back-ground-rec .rec1{
    background-color: #BECDD3;
    width: 100%;
    height: 900px;
    transform: translateY(-2800px);
    z-index: -1;
}

*{
    background-color: rgba(250, 234, 223, 1);
    scroll-behavior: smooth;
}

.news-letter{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* modal */ 

.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: visibility 0s opacity 0.5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #C2240C;
    box-shadow: 0 10px 300px rgba(129, 25, 10, 0.3);
}

.modal h1{
    font-family: Bigilla, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #C2240C;
    margin-bottom: 0;
}

.modal p{
    font-family: 'italiana';
    font-size: 18px;
    color: #C2240C;
    margin-bottom: 0;
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
}

.modal iframe{
    margin-bottom: 30px;
    max-width: 300px;

}

.close{
    font-size: 20px;
    font-family:'italiana' ;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #C2240C;
}

.close:hover{
    cursor: pointer;
}